<option <%= 'selected' if @i == 1 %> value="N">Name</option>
<option <%= 'selected' if @i == 2 %> value="B">Birth date</option>
<option <%= 'selected' if @i == 3 %> value="P">Phone</option>
<option <%= 'selected' if @i == 4 %> value="A">Address</option>
<option <%= 'selected' if @i == 5 %> value="C">Credit Card</option>
<option <%= 'selected' if @i == 6 %> value="E">Email</option>