<h1>Import Log #<%= @imported_file.id %></h1>



<div class="form-group">
  Filename: <%= @imported_file.filename %>
</div>

<div class="form-group">
  Status: <%= @imported_file.status %>
</div>

<div class="form-group">
 Date: <%= @imported_file.date %>
</div>

<div class="form-group">
  Format: <%= @imported_file.format %>
</div>

<div class="form-group">
  User: <%= @imported_file.user.email %>
</div>

<div class="form-group">
  <%= link_to 'Back', imported_files_path %>
</div>


    <table class="table table-striped my-4 py-4">

      <% if @edit_table_header  %>

        <%= form_for @imported_file, url: {action: "format_headers"}, html: {class: "nifty_form"} do |form| %>
          <% flash.each do |type, msg| %>
            <% if type == "notice" then %>
              <div class="my-2 alert alert-success" role="alert">
                <h4 class="">    <%= msg %></h4> 
              </div>
            <% else %>
              <div class="my-2 alert alert-danger" role="alert">
                <h4 class="">    <%= msg %></h4> 
              </div>
            <% end %>
          <% end %>
          <div class="my-2 alert alert-warning" role="alert">
            <h4 class="">Please assign the correct header for each column of this file</h4> 
          </div>
          <tr>
            <th></th>
            <% for @i in 1..6 do %>
              <th>
                <%= select_tag "column_"+@i.to_s, raw(render  'select'), {:class => 'form-select text-primary', :required=>"true"} %>
              </th>
            <% end %> 
            <th>
                <%= form.submit "Assign & Continue", {:class => 'btn btn-primary'} %>
            </th>
          </tr>
        <% end %>
      <% end %>


      <% x=0 %>
      <% @imported_file.imported_records.limit(@row_limit).each do |imported_record| %>
        <tr>
          <td><%= x+=1 %></td>
          <td><%= imported_record.column_1 %></td>
          <% if @import_record_details == false %>
            <td><%= imported_record.column_2 %></td>
            <td><%= imported_record.column_3 %></td>
            <td><%= imported_record.column_4 %></td>
            <td><%= imported_record.column_5 %></td>
            <td><%= imported_record.column_6 %></td>
          <% else %>
            <td><%= imported_record.status %></td>
            <td><%= imported_record.message %></td>

          <% end %>


        </tr>
      <% end %>

      <% s = @imported_file.imported_records.size %>
      <% if s > x then %>
        <tr> 
          <td>...</td>
         
        </tr>

        <% imported_record =  @imported_file.imported_records.last   %>
        <tr>
          <td><%= s+=1 %></td>
          <td>Rows in file</td>

        </tr>
      <% end %>
      

    </table>



