<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Contact Importer</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/imported_files">Processes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/contacts">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/<%= current_user.id %>"><%= current_user.email %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="my-4 px-2">
  <h1>Contacts database</h1>


  <div class="form-group">
    Total: <%= current_user.contacts.count %> records.
  </div>


</div>

<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Birth Date</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Credit Card</th>
    <th>Franchise</th>
    <th>Email</th>

    <th colspan="2"></th>
  </tr>
 
 <%= paginate @contacts %>

  <% @contacts.reverse.each do |contact| %>
    <tr>
      <td><%= contact.id %></td>
      <td><%= contact.name %></td>
      <td><%= contact.birth.strftime("%Y %B %d") %></td>
      <td><%= contact.phone %></td>
      <td><%= contact.address %></td>
      <td><%= contact.credit_card %></td>
      <td><%= contact.franchise %></td>
      <td><%= contact.email %></td>

    </tr>
   
  <% end %>

</table>